GOOGLE_SPEECH_KEY="yours"
DOMAIN="yours"
STAR_SUBDOMAIN_CERTIFICATE="yours"
APP_NAME="yours"
ACCOUNT="yours"
APP_REGION="yours"
BRANCH="yours"
APIGATEWAY_AUTH_TOKEN="yours"
# following params are only used in local-actions
V4_SINGLE_TABLE_NAME="yours"
SENTENCE_BUCKET_NAME="yours"